In [6]:
import pandas as pd

In [7]:
data = {
    'fruits': ['apple', 'banana', 'cherry', 'date', 'apple','cherry'],
    'color': ['red', 'yellow', 'red', 'brown', 'green', 'red'],
    'Quantity': [5, 3, 8, 2, 7, 4]
}
data = pd.DataFrame(data)

In [8]:
data.groupby(['fruits', 'color']).agg({'Quantity': 'sum'}).reset_index()

   fruits   color  Quantity
0   apple   green         7
1   apple     red         5
2  banana  yellow         3
3  cherry     red        12
4    date   brown         2

In [11]:
data.groupby('fruits')['color'].unique()

fruits
apple     [red, green]
banana        [yellow]
cherry           [red]
date           [brown]
Name: color, dtype: object

In [15]:
data.groupby('fruits')['Quantity'].unique()

fruits
apple     [5, 7]
banana       [3]
cherry    [8, 4]
date         [2]
Name: Quantity, dtype: object

In [18]:
data.groupby('fruits')['color'].unique()

fruits
apple     [red, green]
banana        [yellow]
cherry           [red]
date           [brown]
Name: color, dtype: object

In [ ]:
data['fruits']

In [16]:
unique_fruits = data['fruits'].unique()

In [ ]:
data2 = pd.DataFrame(unique_fruits, columns=['Unique Fruits'])

  Unique Fruits
0         apple
1        banana
2        cherry
3          date

In [19]:
data = {
    'Fruit': ['Apple'] * 5 + ['Banana'] * 3 + ['Pear'] * 6,
    'Color': ['Red'] * 5 + ['Yellow'] * 3 + ['Green'] * 6,
    'Quantity': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]  # Default quantity = 1 per item
}
data = pd.DataFrame(data)
data

     Fruit   Color  Quantity
0    Apple     Red         1
1    Apple     Red         1
2    Apple     Red         1
3    Apple     Red         1
4    Apple     Red         1
5   Banana  Yellow         1
6   Banana  Yellow         1
7   Banana  Yellow         1
8     Pear   Green         1
9     Pear   Green         1
10    Pear   Green         1
11    Pear   Green         1
12    Pear   Green         1
13    Pear   Green         1

In [21]:
data = {
    'Account_No': [101, 101, 101, 102, 102, 103, 103, 103, 104, 104],
    'Name': ['Alice', 'Alice', 'Alice', 'Bob', 'Bob', 'Charlie', 'Charlie', 'Charlie', 'David', 'David'],
    'Transaction_ID': range(1, 11)
}
data = pd.DataFrame(data)
data

   Account_No     Name  Transaction_ID
0         101    Alice               1
1         101    Alice               2
2         101    Alice               3
3         102      Bob               4
4         102      Bob               5
5         103  Charlie               6
6         103  Charlie               7
7         103  Charlie               8
8         104    David               9
9         104    David              10

In [28]:
data[['Account_No', 'Name']].drop_duplicates().reset_index(drop=True)

   Account_No     Name
0         101    Alice
1         102      Bob
2         103  Charlie
3         104    David