### hear i am loading data

In [3]:
import pandas as pd 
data = pd.read_csv('fruits.txt',header=None)
data.columns = ['name', 'price', 'color']  # Assign column names
data['price_p10'] = data['price'] * 1.1  # Increase price by 10%
data['price_p20'] = data['price'] * 1.2  # Increase price by 20%

data

           name  price    color  price_p10  price_p20
0         apple    100      red      110.0      120.0
1        orange    200   orange      220.0      240.0
2        banana    150   yellow      165.0      180.0
3         grape     50   purple       55.0       60.0
4          pear    120    green      132.0      144.0
5         peach    130     pink      143.0      156.0
6          plum     80   purple       88.0       96.0
7          kiwi     90    brown       99.0      108.0
8         mango    180   orange      198.0      216.0
9     pineapple    250   yellow      275.0      300.0
10       cherry     30      red       33.0       36.0
11    blueberry     20     blue       22.0       24.0
12   strawberry     40      red       44.0       48.0
13   watermelon    300    green      330.0      360.0
14        lemon     60   yellow       66.0       72.0
15         lime     55    green       60.5       66.0
16      apricot     70   orange       77.0       84.0
17   blackberry     25    black       27.5       30.0
18  pomegranate    110      red      121.0      132.0
19   cantaloupe    220   orange      242.0      264.0
20    raspberry     35      red       38.5       42.0

In [ ]:

data.to_excel('Session1_loading_files/fruits3.xlsx',index=False)  # Save to Excel without index